
BaaarkingDogAlgorithm.vcxproj
BaaarkingDogAlgorithm.vcxproj.filters
BaaarkingDogAlgorithm.vcxproj.user
x64/Debug/BaaarkingDogAlgorithm.ilk
*.obj
*.tlog
*.idb
*.pdb
*.log
*.recipe
*.enc
.vs/Algorithm/v17/Browse.VC.db
*.vsidx
.vs/Algorithm/v17/.suo
*.db
*.ipch
*.filters
*.ilk
x64/Debug/Algorithm.exe
